img{
    height: 150px;
    width: auto;
}

.user-container {
    background-color: antiquewhite;
    color: black;
    display: flex;
    align-items: center;
    gap:2px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}